mixin product-item(product)
  div.grid.grid-cols-1.grid-rows-item
    h4.row-start-4=product.title
    if product.image
      img.z-0.row-start-1.row-span-3.col-start-1.place-self-stretch.bg-blue-100.object-none(src=product.image, alt=product.title)
    if product.isNew
      span.z-10.row-start-1.row-end-1.col-start-1.bg-blue-600.leading.align-middle.text-white.font-bold.indent-3
        | NEW
    if product.discount
      span.z-10.col-start-1.row-start-1.text-white.bg-amber-700.indent-3= product.discount
    div.row-start-5.flex.flex-nowrap.flex-row.items-center.font-bold.gap-2.align-middle
      span= product.price
      if product.oldPrice
        span.text-sm.text-gray-400.font-light.text-t.line-through= product.oldPrice

mixin product-grid(products)
  .grid.grid-cols-product-grid.gap-4
    each product in products
      +product-item(product)
